<configuration>
        <appSettings>
                <add key="docPath" value="/home/lewurm/monoperf/monobuild/lib/monodoc" />
                <add key="docExternalPath" value="" />
                <!-- <add key="cache" value="file,~/path/to/cache/directory" /> -->
        </appSettings>
</configuration>
